.createUsuarioContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.contrainerContra {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon {
    position: absolute;
    height: 50%;
    right: 10px;
    top: 25%;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover {
    opacity: 1;
}

.containerFN {
    display: flex;
}

.selectMes {
    border: 2px solid silver;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    transition: .25s;
    cursor: pointer;
}

.selectMes.focus {
    border-color: lightcoral;
}

.optionVacio {
    display: none;
}

.containerMesFN {
    display: flex;
    width: 100%;
}

.labelMesFN {
    position: relative;
    display: flex;
    outline: none;
}

.spanMesFN {
    position: absolute;
    top: 22px;
    left: 24px;
    color: silver;
    transition: .25s;
    cursor: pointer;
    font: 16px/16px "versana";
}

.spanMesFN.top {
    top: 2px;
    left: 20px;
    font-size: 12px;
    background-color: white;
    padding: 0 6px;
}

.spanMesFN.focus {
    color: lightcoral;
}