.navBar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    box-shadow: 0 0 5px 0 black;
}

.navList {
    display: flex;
    list-style: none;
}

.navItem {
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.navItem:hover {
    color: white;
    background-color: brown;
}