.tituloPagina {
    text-align: center;
}

.container-forms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.productosContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cardProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;   
    border: 2px solid grey;
    border-radius: 5px; 
    background-color: lightslategrey;
    color: white;
}

.imgProducto {
    width: 220px;
    height: 320px;
    object-fit: cover;
    border-radius: 5px 5px 0 0; 
}

.datosProducto {
    display: flex;
    flex-direction: column;
    align-items: start;    
    padding: 10px;
}
.datosProducto h4{
    text-transform: uppercase;
}

.createProductoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.listaProductosABM {
    margin: 20px;
    border: 2px solid black;
}

.itemProductABM {
    display: flex;
    gap: 10px;
}

.divConainerChBoxProducto {
    display: flex;
    justify-content: space-evenly;
}

.divConainerChBoxProducto label {
    display: flex;
    gap: 5px;
}

.divConainerChBoxProducto input {
    scale: 1.4;
}

.div-inp-img{
    margin: 10px
}

.div-inp-img span,
input {
    font: 16px/16px "versana";
}

.div-inp-img label {
    display: block;
    width: 100%;
    border: 2px solid silver;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.span-inp-img{
    color: silver;
    position: absolute;    
    transition: 0.25s;
    left: 6px;
    top: -10px;
    font-size: 12px;
    background: white;
    padding: 0 6px;
}
#inp-file{
    cursor: pointer;
}

.container-imagenes{
    display: flex;
    gap: 10px;
}

.container-imagenes img {
    width: 360px;
}